<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
<!--        file log-->
        <File name="LogToFile" fileName="./.logs/testlog.log">
        <PatternLayout>
            <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
        </PatternLayout>
        </File>
<!-- leg-->
    </Appenders>
    <Loggers>
        <Root level="trace" additivity="true">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>